{% extends 'base.html' %}

{% block title %}
    <title>add post</title>

{% endblock title %}
{% block body %}

<h1 align="center">Add Post</h1>


{% if user.is_authenticated %}
<div class="container">
<div class="form-group">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}

        <button class="btn btn-success">Add</button>


    </form>



</div>
</div>


    <script>
        var name = "{{user.id}}";
        document.getElementById("auto_user_id").value
                =name;

    </script>
{% else %}

<h2> You are not allow to enter this page</h2>
{% endif %}
{% endblock body %}